{#
    Displays harvest status while a job is running:
    
      * counts of gathered, errored, fetched, imported
    
    Example:
    
      {% snippet 'snippets/harvest_stats.html', job=job %}
    
    #}
    
    {% set stats = job.stats %}
    
    {% if job.status == 'Finished' %}
      <p>
        No job in progress
      </p>
    {% endif %}
    
    <h3 class="hide-heading">{{ _('Details') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
      <colgroup>
        <col width="15">
        <col width="85">
      </colgroup>
      <tr>
        <th>{{ _('Id') }}</th>
        <td>{{ job.id }}</td>
      </tr>
      <tr>
        <th>{{ _('Gathered') }}</th>
        <td>
            {{ h.render_datetime(job.created, with_hours=True) }}
            {% if  h.render_datetime(job.created, with_hours=True) %}
              {{ _('GMT') }}
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Started') }}</th>
        <td>
            {{ h.render_datetime(job.gather_started, with_hours=True) }}
            {% if  h.render_datetime(job.gather_started, with_hours=True) %}
              {{ _('GMT') }}
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Finished') }}</th>
        <td>
            {{ h.render_datetime(job.finished, with_hours=True) }}
            {% if  h.render_datetime(job.finished, with_hours=True) %}
              {{ _('GMT') }}
            {% endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Status') }}</th>
        <td>{{ _(job.status) }}</td>
      </tr>
    </table>
    